/* Táblázat beállításai */
table {
        border-collapse:collapse;  /* szegély összevonása*/
        background-color: lightblue;
      }

td,th { 
        border:1px solid black;   /* szegély beállítása */
        padding: 10px;              /* kitöltés (belső margó) beállítása */  
       }

/* További beállítások a feladat szerint */

/* táblázat címsor formázása */
caption {
        font-style: italic; /* dőlt betű */
        }

/* címsorok formázása */
h1     {
        color: blue; /* betű színe */
        /* font-family: Arial, Verdana, sans-serif; */
       }
h2,h1  {
        font-family: Arial, Verdana, sans-serif; /* betűcsalád beállítása */
       }

#vastag {
        font-weight: bold;
        font-style: italic;
        }